{% load static %}
<!DOCTYPE html>

<html lang="en-us">

<head>
  <meta charset="utf-8" />
  <title>Reporter - HTML Blog Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5" />
  <meta name="description" content="This is meta description" />
  <meta name="author" content="Blog" />
  <link rel="shortcut icon" href="{%  static 'images/favicon.png' %}" type="image/x-icon" />
  <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />

  <!-- theme meta -->
  <meta name="theme-name" content="reporter" />

  <!-- # Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Neuton:wght@700&family=Work+Sans:wght@400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- # CSS Plugins -->
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}" />

  <!-- # Main Style Sheet -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <!-- <link rel="stylesheet" href="{% static 'css/base.css' %}" /> -->

  <script type="text/javascript" src="{% static 'tinymce/tinymce.min.js' %}"></script>

</head>

<body>
  <header class="navigation sticky-top bg-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light px-0">
        <a class="navbar-brand order-1 py-0" href="{% url 'index' %}">
          <img loading="prelaod" decoding="async" class="img-fluid" src="{% static 'images/logo.webp'%}"
            alt="Putaraub.com" />
        </a>
        <div class="navbar-actions order-3 ml-0 ml-md-4">
          <button aria-label="navbar toggler" class="navbar-toggler border-0" type="button" data-toggle="collapse"
            data-target="#navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <form action="#!" class="search order-lg-3 order-md-2 order-3 ml-auto">
          <input class="form-control" id="search-query" name="search" type="search" placeholder="Search..." autocomplete="off"  />
        </form>
        <div class="collapse navbar-collapse text-center order-lg-2 order-4" id="navigation">
          <ul class="navbar-nav mx-auto mt-3 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Articles
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Travel</a>
                <a class="dropdown-item" href="travel.html">Lifestyle</a>
                <a class="dropdown-item" href="travel.html">Cruises</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'create_post' %}">Create Post</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login_user' %}">Login</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <!-- Main Content -->
  <main class="main">
    <div class="content container">{% block content %} {% endblock %}</div>
  </main>

  <footer class="bg-dark mt-5">
    <div class="container section">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
          <a class="d-inline-block mb-4 pb-2" href="{% url 'index' %}">
            <img loading="prelaod" decoding="async" class="img-fluid" src="images/logo-white.png" alt="PitaraHub" />
          </a>
          <ul class="p-0 d-flex navbar-footer mb-0 list-unstyled">
            <li class="nav-item my-0">
              <a class="nav-link" href=#">About</a>
            </li>
            <li class="nav-item my-0">
              <a class="nav-link" href="#">Elements</a>
            </li>
            <li class="nav-item my-0">
              <a class="nav-link" href="#">Privacy Policy</a>
            </li>
            <li class="nav-item my-0">
              <a class="nav-link" href="#">Terms Conditions</a>
            </li>
            <li class="nav-item my-0">
              <a class="nav-link" href="#">404 Page</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright bg-dark content">
      Designed &amp; Developed By <a href="#">Blog</a>
    </div>
  </footer>

  <!-- # JS Plugins -->
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>

  <!-- Main Script -->
  <script src="{% static 'js/script.js' %}"></script>

  <script type="text/javascript">
    tinymce.init({
      selector: "textarea",
      plugins:
        "advlist autolink lists link image charmap print preview hr anchor pagebreak insertdatetime media table paste" ,
      toolbar_mode: "floating",
      setup: function (editor) {
        editor.on("init", function () {
          editor.getBody().style.maxWidth = "100%";
        });
      },
    });
  </script>

  <script>
    (function () {
      'use strict';
      window.addEventListener('load', function () {
        var forms = document.getElementsByClassName('needs-validation');
        var validation = Array.prototype.filter.call(forms, function (form) {
          form.addEventListener('submit', function (event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>
</body>

</html>