{% extends 'layouts/base.html'%}
{% block content %}
<section class="section">
  <div class="container">
    <div class="row no-gutters-lg">
      <div class="col-12">
        <h2 class="section-title">Latest Articles</h2>
      </div>
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {% for single_post in single_post %}
          <div class="col-12 mb-4">
            <article class="card article-card">
              <a href="{% url 'post_detail' single_post.slug %}">
                <div class="card-image">
                  <div class="post-info">
                    <span class="text-uppercase">{{ single_post.created_at }}</span>
                    <span class="text-uppercase">{{ single_post.read_time }} minutes read</span>
                  </div>
                  {% if single_post.image %}
                  <img loading="lazy" decoding="async" src="{{ single_post.image.url }}" alt="{{ single_post.title }}"
                    class="w-100">
                  {% else %}
                  <img loading="lazy" decoding="async" src="path/to/default/image.jpg" alt="Default Thumbnail"
                    class="w-100">
                  {% endif %}
                </div>
              </a>
              <div class="card-body px-0 pb-1">
                <ul class="post-meta mb-2">
                  <li>
                    {% for category in single_post.categories.all %}
                    <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                  </li>
                </ul>
                <h2 class="h1"><a class="post-title" href="">{{single_post.title }}</a></h2>
                <p class="card-text">{{ single_post.content|truncatewords:20|safe }}</p>
                <div class="content"><a class="read-more-btn" href="{% url 'post_detail' single_post.slug %}">Read Full
                    Article</a></div>
              </div>
            </article>
          </div>

          {% endfor %}

          {% for post in posts %}
          <div class="col-md-6 mb-4">
            <article class="card article-card article-card-sm h-100">
              <a href="article.html">
                <div class="card-image">
                  <div class="post-info">
                    <span class="text-uppercase">{{ post.created_at }}</span>
                    <span class="text-uppercase">{{ post.read_time }} minutes read</span>
                  </div>
                  {% if post.image %}
                  <img loading="lazy" decoding="async" src="{{ post.image.url }}" alt="{{ post.title }}" class="w-100">
                  {% else %}
                  <img loading="lazy" decoding="async" src="path/to/default/image.jpg" alt="Default Thumbnail"
                    class="w-100">
                  {% endif %}
                </div>
              </a>
              <div class="card-body px-0 pb-0">
                <ul class="post-meta mb-2">
                  <li>
                    {% for category in post.categories.all %}
                    <a href="#!">{{ category.name }}</a>
                    {% endfor %}
                  </li>
                </ul>
                <h2><a class="post-title" href="article.html">{{ post.title }}</a></h2>
                <p class="card-text">{{post.content|truncatewords:20|safe}}</p>
                <div class="content"><a class="read-more-btn" href="{% url 'post_detail' post.slug %}">Read Full
                    Article</a></div>
              </div>
            </article>
          </div>
          {% endfor %}
        </div>
        <div class="col-12">
          <nav class="mt-4">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#!" aria-label="Previous"><span
                    aria-hidden="true">&laquo;</span></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#!" aria-label="Next"><span
                    aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="widget-blocks">
          <div class="row">
            {% for spost in spost %}
            <div class="col-lg-12">
              <div class="widget">
                <div class="widget-body">
                  <img loading="lazy" decoding="async" src="{{spost.image.url}}" alt="{{author.name}}'s Profile Picture"
                  class="w-100 author-thumb-sm d-block">
                  <h2 class="widget-title my-3">{{spost.title|safe}}</h2>
                  <p class="mb-3 pb-2">{{spost.content|truncatewords:10|safe}}</p>
                  <a href="about.html" class="btn btn-sm btn-outline-primary">Know More</a>
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-lg-12 col-md-6">
              <div class="widget">
                <h2 class="section-title mb-3">Recommended</h2>
                <div class="widget-body">
                  <div class="widget-list">
                    {% for trending in trending_posts %}
                    <article class="card mb-4">
                      <div class="card-image">
                        <div class="post-info">
                          <span class="text-uppercase">05 minutes read</span>
                        </div>

                        {% if trending.image %}

                        <img loading="lazy" decoding="async" src="{{ trending.image.url }}"
                          alt="{{trending.title}}" class="w-100">
                        {% else %}
                        <img loading="lazy" decoding="async" src="path/to/default/image.jpg" alt="{{trending.title}}"
                          class="w-100">
                        {% endif %}
                      </div>
                      <div class="card-body px-0 pb-1">
                        <h3><a class="post-title post-title-sm" href="{% url 'post_detail' trending.slug %}">{{trending.title|safe }}</a></h3>
                        <p class="card-text">{{ trending.content|truncatewords:10|safe }}</p>
                        <div class="content"><a class="read-more-btn"
                            href="{% url 'post_detail' trending.slug %}">Read Full Article</a></div>
                      </div>
                    </article>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-12 col-md-6">
              <div class="widget">
                <h2 class="section-title mb-3">Categories</h2>
                <div class="widget-body">
                  <ul class="widget-list">
                    {% for category in categories %}
                    <li><a href="{% url 'category_detail' category.slug %}">{{category.name}}<span class="ml-auto">(
                          {{category.post_set.count }})</span></a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}