{% extends 'layouts/base.html' %}
{% block content %}
{% load static %}
<section class="section">
  <div class="container">
    <div class="row no-gutters-lg">
      <div class="col-12">
        <h2 class="section-title">Latest Posts</h2>
      </div>

      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          <!-- Main Articles Loop -->
          {% for post in posts %}
          <div class="col-md-6 mb-4">
            <article class="card article-card">
              <a href="{% url 'post_detail' post.slug %}">
                <div class="card-image">
                  <div class="post-info">
                    <span class="text-uppercase">{{ post.created_at }}</span>
                    <span class="text-uppercase">{{ post.read_time }} minutes read</span>
                  </div>
                  {% if post.image %}
                  <img loading="lazy" decoding="async" src="{{ post.image.url }}" alt="{{ post.title }}" class="w-100">
                  {% else %}
                  <img loading="lazy" decoding="async" src="{% static 'img/default-image.jpg' %}" alt="Default Thumbnail" class="w-100">
                  {% endif %}
                </div>
              </a>
              <div class="card-body px-0 pb-1">
                <ul class="post-meta mb-2">
                  <li>
                    {% for category in post.categories.all %}
                    <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                  </li>
                </ul>
                <h2 class="h1"><a class="post-title" href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.content|truncatewords:20|safe }}</p>
                <div class="content"><a class="read-more-btn" href="{% url 'post_detail' post.slug %}">Read Full Article</a></div>
              </div>
            </article>
          </div>
          {% empty %}
          <div class="alert alert-info text-center">No posts available.</div>
          {% endfor %}

            <!-- AdSense Ad Unit -->
            <div class="ad mb-4">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <script>
                  (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "YOUR-AD-CLIENT-ID",
                    enable_page_level_ads: true
                  });
                </script>
            </div>
        </div>

        <!-- Pagination -->
        <div class="col-12">
          <nav class="mt-4">
            <ul class="pagination justify-content-center">
              <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>
      </div>

      <!-- Sidebar -->
      <div class="col-lg-4">
        <div class="widget-blocks">
          <div class="row">
            <!-- Latest Posts Widget -->
            <div class="col-lg-12">
              <div class="widget">
                <h2 class="section-title mb-3">Trending Posts</h2>
                <div class="widget-body">
                  <ul class="widget-list">
                    {% for latest_post in trending_posts %}
                    <li>
                      <article class="card mb-4">
                        <div class="card-image">
                          {% if latest_post.image %}
                          <img loading="lazy" decoding="async" src="{{ latest_post.image.url }}" alt="{{ latest_post.title }}" class="w-100">
                          {% else %}
                          <img loading="lazy" decoding="async" src="{% static 'img/default-image.jpg' %}" alt="Default Thumbnail" class="w-100">
                          {% endif %}
                        </div>
                        <div class="card-body">
                          <h3><a class="post-title post-title-sm" href="{% url 'post_detail' latest_post.slug %}">{{ latest_post.title }}</a></h3>
                          <p class="card-text">{{ latest_post.content|truncatewords:10|safe }}</p>
                          <div class="content"><a class="read-more-btn" href="{% url 'post_detail' latest_post.slug %}">Read Full Article</a></div>
                        </div>
                      </article>
                    </li>
                    {% empty %}
                    <li>No trending posts available.</li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>

            <!-- Recommended Posts Widget -->
            <div class="col-lg-12 col-md-6">
              <div class="widget">
                <h2 class="section-title mb-3">Recommended</h2>
                <div class="widget-body">
                  <div class="widget-list">
                    {% for spost in sposts %}
                    <div class="widget-item mb-4">
                      <article class="card article-card">
                        <a href="{% url 'post_detail' spost.slug %}">
                          <div class="card-image">
                            <img loading="lazy" decoding="async" src="{{ spost.image.url }}" alt="{{ spost.title }}" class="w-100">
                          </div>
                        </a>
                        <div class="card-body">
                          <h3><a class="post-title" href="{% url 'post_detail' spost.slug %}">{{ spost.title }}</a></h3>
                          <p class="card-text">{{ spost.content|truncatewords:10|safe }}</p>
                        </div>
                      </article>
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Categories Widget -->
            <div class="col-lg-12 col-md-6">
              <div class="widget">
                <h2 class="section-title mb-3">Categories</h2>
                <div class="widget-body">
                  <ul class="widget-list">
                    {% for category in categories %}
                    <li>
                      <a href="{% url 'category_detail' category.slug %}">{{ category.name }} <span class="ml-auto">({{ category.post_set.count }})</span></a>
                    </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
